<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <h1><%= text %></h1>

    <p>Go to <a href="/">Homepage</a> </p>
</body>
</html>