<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1><%= text %></h1>
   <div class="aws-logo-div">
    <img src="img/aws-logo.png" class="aws-log" alt="aws-logo">
   </div> 
    <p>Go to <a href="/about">About uss</a> </p>
</body>
</html>