body {
    background-color: rgb(73, 143, 175)
}
.aws-logo-div {
    width: 200px;
    height: 180px;
    object-fit: contain;
}

.aws-logo {
    width: 200px;
    height: 180px;
    object-fit: contain;
}